streamlit
pymupdf
langchain
langchain-community
langchain-groq
faiss-cpu

# Fix version compatibility for sentence-transformers and its deps
sentence-transformers==2.2.2
transformers==4.31.0
torch==2.0.1
